h1{
    text-align: center;
}

body {
    background-color: lightblue;


    

}
.daysOfWeek {
    float: left;
    width: 200px;
    height: 40px;
    background-color: darkcyan;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.link {
    text-decoration: none;
    color: white;
    display: block;

}
.link:hover{
    background-color: rgb(185, 93, 215);

}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
}